<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.number_field :task_id %>
  </div>

  <div>
    <%= form.label :task_user, style: "display: block" %>
    <%= form.text_field :task_user %>
  </div>

  <div>
    <%= form.label :task_title, style: "display: block" %>
    <%= form.text_field :task_title %>
  </div>

  <div>
    <%= form.label :task_content, style: "display: block" %>
    <%= form.text_area :task_content %>
  </div>

  <div>
    <%= form.label :task_tag, style: "display: block" %>
    <%= form.text_field :task_tag %>
  </div>

  <div>
    <%= form.label :task_build_time, style: "display: block" %>
    <%= form.number_field :task_build_time %>
  </div>

  <div>
    <%= form.label :task_start_time, style: "display: block" %>
    <%= form.number_field :task_start_time %>
  </div>

  <div>
    <%= form.label :task_end_time, style: "display: block" %>
    <%= form.number_field :task_end_time %>
  </div>

  <div>
    <%= form.label :task_priority, style: "display: block" %>
    <%= form.number_field :task_priority %>
  </div>

  <div>
    <%= form.label :task_state, style: "display: block" %>
    <%= form.number_field :task_state %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
