<%= form_for @task, :html=> {:id => 'task_form'} do |f| %>
  <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |msg| %>
        <p style='color:red'><%= msg %></p>
      <% end %>
  <% end %>

  <table>
    <tr>
      <td><%= t('task.title') %></td>
      <td><%= f.text_field :title %> <br /></td>
    </tr>
    <tr>
      <td><%= t('task.content') %></td>
      <td><%= f.text_area :content %> <br /></td>
    </tr>
    <tr>
      <td><%= t('task.tag') %></td>
      <td><%= f.text_area :tag %> <br /></td>
    </tr>
    <tr>
      <td><%= t('task.start') %></td>
      <td><%= f.datetime_select :start_time, :ampm => true, :start_minute => [0,15,30,45] %> <br /></td>
    </tr>
    <tr>
      <td><%= t('task.deadline') %></td>
      <td><%= f.datetime_select :end_time, :ampm => true, :start_minute => [0,15,30,45] %> <br /></td>
    </tr>
    <tr>
      <td><%= t('task.priority') %></td>
      <td><%= f.select(:priority, [[t('task.high'), 'high'], [t('task.medium'), 'medium'], [t('task.low'), 'low']]) %> <br /></td>
    </tr>
      <td><%= t('task.state') %></td>
      <td><%= f.select(:state, [[t('task.pending'), 'pending'], [t('task.processing'), 'processing'], [t('task.solved'), 'solved']]) %> <br /></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit t('form.submitBtn') %></td>
    </tr>
    
  </table>
<% end %>