<div id="<%= dom_id task %>">
  <p>
    <strong>Task:</strong>
    <%= task.task_id %>
  </p>

  <p>
    <strong>Task user:</strong>
    <%= task.task_user %>
  </p>

  <p>
    <strong>Task title:</strong>
    <%= task.task_title %>
  </p>

  <p>
    <strong>Task content:</strong>
    <%= task.task_content %>
  </p>

  <p>
    <strong>Task tag:</strong>
    <%= task.task_tag %>
  </p>

  <p>
    <strong>Task build time:</strong>
    <%= task.task_build_time %>
  </p>

  <p>
    <strong>Task start time:</strong>
    <%= task.task_start_time %>
  </p>

  <p>
    <strong>Task end time:</strong>
    <%= task.task_end_time %>
  </p>

  <p>
    <strong>Task priority:</strong>
    <%= task.task_priority %>
  </p>

  <p>
    <strong>Task state:</strong>
    <%= task.task_state %>
  </p>

</div>
