<h1 style="width:100%;text-align:center"><%=t :task_list %></h1>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>

<%= form_tag(root_path, :method => "get") do %>
    <%= search_field_tag :search %>
    <%= submit_tag t(:search) %>
<% end %>
<br>

<%= link_to t(:create_task), new_task_path %>
<br>

<table style="width:100%;text-align:center">
  <thead>
    <tr>
      <th><%=t :title %></th>
      <th><%=t :content %></th>
      <th><%=t :tag %></th>
      <th><%=t :start %></th>
      <th><%=t :deadline %></th>
      <th><%=t :priority %></th>
      <th><%=t :state %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.tag %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td>
          <% if task.priority == '0' %>
            <%=t :high %>
            <% else %>
              <% if task.priority == '1' %>
                <%=t :medium %>
              <% else %>
                <%=t :low %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% if task.state == '0' %>
            <%=t :pending %>
            <% else %>
              <% if task.state == '1' %>
                <%=t :processing %>
              <% else %>
                <%=t :solved %>
              <% end %>
          <% end %>
        </td>
        <td><%= link_to t(:edit), edit_task_path(task) %></td>
        <td><%= link_to t(:delete), task, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>