<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user._id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Pw:</strong>
    <%= user.pw %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

</div>
